
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">About</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div> <!-- /.widget -->
				<div class="widget">
					<h3>Social</h3>
					<ul class="list-unstyled social">
						<li><a asp-controller="" asp-action=""><span class="icon-instagram"><i class="bi bi-instagram"></i></span></a></li>
						<li><a asp-controller="" asp-action=""><span class="icon-twitter"><i class="bi bi-twitter"></i></span></a></li>
						<li><a asp-controller="" asp-action=""><span class="icon-facebook"><i class="bi bi-facebook"></i></span></a></li>
						<li><a asp-controller="" asp-action=""><span class="icon-linkedin"><i class="bi bi-linkedin"></i></span></a></li>
						<li><a asp-controller="" asp-action=""><span class="icon-pinterest"><i class="bi bi-pinterest"></i></span></a></li>
						<li><a asp-controller="" asp-action=""><span class="icon-dribbble"><i class="bi bi-dribbble"></i></span></a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4 ps-lg-5">
				<div class="widget">
					<h3 class="mb-4">Company</h3>
					<ul class="list-unstyled float-start links">
						<li><a asp-controller="" asp-action="">About us</a></li>
						<li><a asp-controller="" asp-action="">Services</a></li>
						<li><a asp-controller="" asp-action="">Vision</a></li>
						<li><a asp-controller="" asp-action="">Mission</a></li>
						<li><a asp-controller="" asp-action="">Terms</a></li>
						<li><a asp-controller="" asp-action="">Privacy</a></li>
					</ul>
					<ul class="list-unstyled float-start links">
						<li><a asp-controller="" asp-action="">Partners</a></li>
						<li><a asp-controller="" asp-action="">Business</a></li>
						<li><a asp-controller="" asp-action="">Careers</a></li>
						<li><a asp-controller="" asp-action="">Blog</a></li>
						<li><a asp-controller="" asp-action="">FAQ</a></li>
						<li><a asp-controller="" asp-action="">Creative</a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Top Best Book In My Shop</h3>
					<div class="post-entry-footer">
						<ul>
							<vc:top-books></vc:top-books>
						</ul>
					</div>


				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
		</div> <!-- /.row -->

		<div class="row mt-5">
			<div class="col-12 text-center">
				<!--
					**==========
					NOTE:
					Please don't remove this copyright link unless you buy the license here https://untree.co/license/
					**==========
				  -->

				<p>Copyright &copy; 2023</p>
			</div>
		</div>
	</div> <!-- /.container -->
</footer> <!-- /.site-footer -->
