
<div class="container p-3 d-flex">

    <div class="col-2 m-3">
        <ul class="list-group">
            <li class="list-group-item fw-bold"><h3>Categories</h3></li>
            <li class="list-group-item"><a asp-controller="Topics" asp-action="Index">Chủ Đề</a></li>
            <li class="list-group-item"><a asp-controller="Books" asp-action="Index">Sách</a></li>
            <li class="list-group-item"><a asp-controller="Publishers" asp-action="Index">NXB</a></li>
            <li class="list-group-item"><a asp-controller="Books" asp-action="ShowBookApi">Book API</a></li>
        </ul>
    </div>


